@page
@model IndexModel

<h1>@Model.Title</h1>

<p class="mt-4 mb-1">The People defined in the Getter:</p> 

@foreach (var person in @Model.Persons)
{
    <p class="mb-0 mt-0">@person.FirstName @person.LastName</p>
}



@*class="mt-1 mb-1" is not nessecary it just changes tha margin to top and bottom*@